* {
    padding: 0px;
    margin: 0px;
}
#main {
    width: 80%;
    margin: 0px auto;
    margin-top: 5%;
}
#main h3 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #999;
}
#mylist {
    list-style: none;
    margin: 10px;
    border: 1px solid #ddd;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list-a {
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    border-top: 1px solid #e3e3e3;
    background: #f4f4f4;
    cursor: pointer;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.list-a ul {
    list-style: none;
}
.sub {
    list-style: none;
    padding: 8px 0px;
    color: #999;
    /* position: absolute; */
    transition-duration: 1s;

}
.sub li {
    height: 30px;
    line-height: 30px;
    list-style: none;

    /* padding-left: 10px; */
}
.sub li a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 0 25px;
    box-sizing: border-box;

}
.sub li a:hover {
    background: #eee;
}
#out {
    position: fixed;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 9;
    width: 100%;
    height: 100%;
    display: none;
}
#inn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


#app{
    width: 95%;
    height: 90%;
    padding: 25px 20px;
}
#menu-icon {
    z-index: 999;
    position: absolute;
    bottom: 2.6rem;
    right: 20px;
    width: 2rem;
    height: 1.5rem;
    padding: .3rem 0;
    background-color: #069;
    border-top: .3rem solid #069;
    border-bottom: .3rem solid #069;
    background-clip: content-box;
}
.is-win{
    position:absolute;
    top:0;
    right: 0;
    z-index: 999;
}


.f15 {
    font-size: 15px;
    width: 15px;
    padding-right: 5px;
}
svg{
    width: 18px;
}