
#app{
    width: 90%;
    height: 90%;
    padding: 25px 20px;
}
#menu-icon {
    z-index: 999;
    position: absolute;
    bottom: 2.6rem;
    right: 20px;
    width: 2rem;
    height: .3rem;
    padding: .3rem 0;
    background-color: #069;
    border-top: .3rem solid #069;
    border-bottom: .3rem solid #069;
    background-clip: content-box;
}
.is-win{
    position:absolute;
    top:0;
    right: 0;
    z-index: 999;
}


.f15 {
    font-size: 15px;
    width: 15px;
    padding-right: 5px;
}
svg{
    width: 18px;
}