<body>
    <!-- <div id="side">侧边栏</div>
    <div id="main">主要内容 <a id="1" href="javascript:void(0)" onclick="abc(this.id)">123</a>
        <button onclick="abc()">s</button>
    </div> -->
    <div class="container">
        <div class="flexible">
          <div class="content">
            <!-- <img src="http://img1.imgtn.bdimg.com/it/u=1326427068,125180539&amp;fm=11&amp;gp=0.jpg" alt=""> -->
          </div>
          <div class="bar">
          </div>
        </div>
        <div class="main">
          这里是主要内容区域
        </div>
  </div>

</body>